.list {
    box-shadow: 2px 2px 2px 2px #333;
    height: 400px;
    overflow: scroll;
    margin-bottom: 20px;
}
.cell {
    display: inline-block;
    width: 185px;
    padding: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
}
.cell.sm {
    width: 60px;
    padding: 10px;
}
.row:hover {
    background-color: #cecece;
    cursor: pointer;
}
.row.header {
    font-weight: bold;
    background-color: #cecece;
}
.row {
    border-bottom: solid 1px #cecece;
    display: inline-block;
}