.list {
    box-shadow: 2px 2px 2px 2px #333;
}
.cell {
    display: inline-block;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}
.row.header {
    font-weight: bold;
    background-color: #cecece;
}
.row {
    border-bottom: solid 1px #cecece;
}
