.search {
    background-image: url('./assets/search.png');
    width: 650px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 40px;
    padding-left: 40px;
    color: red;
}
.select {
    width: 150px;
    height: 50px;
    font-size: 18px;
}