@import './variables.scss';

.container {
    margin: 0 auto;
    position: relative;
    width: 800px;
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
        &:after {
            content: " ";
            display: block;
            width: 32px;
            height: 32px;
            margin: 4px;
            border-radius: 50%;
            border: 2px solid #000;
            border-color: #000 transparent #000 transparent;
            animation: lds-dual-ring 1.2s linear infinite;
          }
      }
  }
  
    
    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    .not-found {
      border: solid 1px pink;
      color: $error;
      padding: 30px;
    }